.chat {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  padding: 20px 30px;
  transition: all .2s;

  &:hover {
    background-color: #E1E4ED;
  }
}

.chat__header {
  display: flex;
  justify-content: space-between;
}

.chat__name {
  margin: 0;
  flex: 1;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-weight: 700;
}

.chat__date {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: #989898;
  font-weight: 600;
}

.chat__last-message {
  margin: 0;
  margin-top: 2px;
  font-size: 15px;
  color: #989898;
  font-weight: 600;
}