<div class="chat">
    <div class="chat__header">
      <p class="chat__name">{{ nickname }}</p>
      <p class="chat__date">31.03.2019 18:31</p>
    </div>
    <p class="chat__last-message">Привет, как дела?</p>
  </div>
