.main__profile {
  width: 100%;
  height: 70px;
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.02);
}

.main__nickname {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
