<!-- <div class="wrapper">
  <div class="add-chat_wrap">
    <input type="text" [(ngModel)]="newChatId" placeholder="ID">
    <button (click)="addChat()" class="material-icons-round">add</button>
  </div> -->
<div class="chats">
  <input type="text" placeholder="#ID" id="chats__add-id" [(ngModel)]="newChatId">
  <button (click)="toggleField()">Добавить чат</button>
  <app-chat [nickname]="'Zemlia'" [id]="'#6'"></app-chat>
  <app-chat [nickname]="'Nickname'" [id]="'#2'"></app-chat>
</div>
<!-- </div> -->
