.wrapper {
  width: 250px;
  border-right: 1px solid #E1E4ED;
  height: 100%;
}

.add-chat_wrap {
  display: flex;
  padding: 15px;

  &>input {
    margin: 0;
    flex: 1;
    margin-right: 20px;
    height: 35px;
    padding-left: 15px;
  }

  &>button {
    margin: 0;
    width: 35px;
    height: 35px;
    padding: 7px;
    font-size: 20px;
  }
}

.chats {
  background-color: #f2f3f5;
  height: 100%;
  position: relative;
}

.chats button {
  width: calc(100% - 60px);
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.chats input {
  opacity: 1;
  width: calc(100% - 60px);
  position: absolute;
  //bottom: 30px;
  bottom: 90px;
  left: 30px;
  transition: all .3s;

  // &:focus {
  //   opacity: 1;
  //   bottom: 90px;
  // }
}
