@import url('https://unpkg.com/tippy.js@4/themes/light.css');

.main__send {
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.02);
}

.main__icon {
  width: 26px;
  height: 26px;
  margin-left: 30px;
  cursor: pointer;

  path {
    transition: all .2s;
  }

  &:last-child {
    margin-right: 30px;
  }

  &:hover path {
    fill: #389df7;
  }
}

.main__send-input {
  flex: 1;
  margin: 0;
  margin-left: 30px;
}

.emojis__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.emoji {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: #E1E4ED;
  }
}
