<div id="emojis" style="display: none;">
  <div class="emojis__inner">
    <img data-emoji="happy" src="../../../assets/emoji/happy.svg" class="emoji">
    <img data-emoji="happy-1" src="../../../assets/emoji/happy-1.svg" class="emoji">
    <img data-emoji="happy-2" src="../../../assets/emoji/happy-2.svg" class="emoji">
    <img data-emoji="happy-3" src="../../../assets/emoji/happy-3.svg" class="emoji">
    <img data-emoji="thinking" src="../../../assets/emoji/thinking.svg" class="emoji">
    <img data-emoji="thinking-1" src="../../../assets/emoji/thinking-1.svg" class="emoji">
    <img data-emoji="sleeping" src="../../../assets/emoji/sleeping.svg" class="emoji">
    <img data-emoji="surprised" src="../../../assets/emoji/surprised.svg" class="emoji">
    <img data-emoji="surprised-1" src="../../../assets/emoji/surprised-1.svg" class="emoji">
    <img data-emoji="surprised-2" src="../../../assets/emoji/surprised-2.svg" class="emoji">
    <img data-emoji="tongue" src="../../../assets/emoji/tongue.svg" class="emoji">
    <img data-emoji="tongue-1" src="../../../assets/emoji/tongue-1.svg" class="emoji">
    <img data-emoji="wink" src="../../../assets/emoji/wink.svg" class="emoji">
    <img data-emoji="smart" src="../../../assets/emoji/smart.svg" class="emoji">
  </div>
</div>
<div class="main__send">
  <svg appTippy [tippyOptions]="{
    name: 'emojis',
    interactive: true,
    html:'#emojis',
    createPopperInstanceOnInit: true,
    theme: 'light'
  }" class="main__icon" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:avocode="https://avocode.com/" viewBox="0 0 33 33">
    <g transform="matrix(1,0,0,1,-480,-1013)">
      <path
        d="M502.08813,1033.26605c-1.38383,1.66327 -3.42632,2.6213 -5.58856,2.6213c-2.16224,0 -4.20473,-0.95138 -5.58857,-2.6213c-0.56551,-0.67861 -1.57677,-0.7651 -2.24873,-0.20624c-0.67861,0.56551 -0.7651,1.57012 -0.20624,2.24873c1.99592,2.3951 4.92991,3.76564 8.04354,3.76564c3.11363,0 6.04762,-1.37053 8.04354,-3.76564c0.56551,-0.67861 0.47237,-1.68322 -0.20625,-2.24873c-0.67196,-0.55886 -1.68322,-0.47237 -2.24873,0.20624zM501.82201,1028.43594c1.17759,0 2.12898,-0.95139 2.12898,-2.12898c0,-1.17759 -0.95139,-2.12897 -2.12898,-2.12897c-1.17759,0 -2.12898,0.95139 -2.12898,2.12897c0,1.17759 0.95139,2.12898 2.12898,2.12898zM491.17713,1028.43594c1.17759,0 2.12898,-0.95139 2.12898,-2.12898c0,-1.17759 -0.95139,-2.12897 -2.12898,-2.12897c-1.17759,0 -2.12898,0.95139 -2.12898,2.12897c0,1.17759 0.95139,2.12898 2.12898,2.12898zM496.49957,1042.80653c-7.33832,0 -13.30611,-5.96779 -13.30611,-13.30611c0,-7.33832 5.96779,-13.30611 13.30611,-13.30611c7.33832,0 13.3061,5.96779 13.3061,13.30611c0,7.33832 -5.96779,13.30611 -13.3061,13.30611zM496.49957,1013.00085c-9.11468,0 -16.49957,7.38489 -16.49957,16.49957c0,9.11469 7.38489,16.49957 16.49957,16.49957c9.11468,0 16.49957,-7.38488 16.49957,-16.49957c0,-9.11468 -7.38489,-16.49957 -16.49957,-16.49957z"
        fill="#989898" fill-opacity="1" />
    </g>
  </svg>
  <svg class="main__icon" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:avocode="https://avocode.com/" viewBox="0 0 34 34">
    <g transform="matrix(1,0,0,1,-546,-1012)">
      <path
        d="M574.68946,1017.31055v-4.73785h-3.15857v4.73785h-4.73785c0.01579,0.01579 0,3.15857 0,3.15857h4.73785v4.72206c0.01579,0.01579 3.15857,0 3.15857,0v-4.72206h4.73785v-3.15857zM559.22826,1037.57277l-3.0954,-3.72711l-4.34303,5.57487h17.37213l-5.59067,-7.43843zM571.53088,1042.5791h-22.10998v-22.10998h14.21356v-3.15857h-14.21356c-1.73721,0 -3.15857,1.42136 -3.15857,3.15857v22.10998c0,1.73722 1.42136,3.15858 3.15857,3.15858h22.10998c1.73721,0 3.15857,-1.42136 3.15857,-3.15858v-14.21356h-3.15857z"
        fill="#989898" fill-opacity="1" />
    </g>
  </svg>
  <input type="text" placeholder="Напишите что-нибудь..." class="main__send-input" [(ngModel)]="message">
  <svg class="main__icon" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:avocode="https://avocode.com/" viewBox="0 0 33 33">
    <g transform="matrix(1,0,0,1,-1857,-1016)">
      <path
        d="M1883.07055,1044.05099l-9.91122,-4.09208l9.03481,-13.03667c0.68953,-0.99885 -0.6122,-2.15881 -1.52728,-1.36617l-13.62953,11.8767l-6.94687,-2.87412l26.80797,-15.46614zM1869.37013,1045.90048v-4.16297l2.35859,0.97308zM1885.3518,1016.41816l-26.80797,15.45969c-2.21681,1.2824 -2.00415,4.56251 0.36732,5.53559l7.36575,3.04812v5.43892c0,2.99012 3.81498,4.22097 5.5807,1.84305l2.82257,-3.80853l7.21109,2.97723c0.38021,0.15466 0.77975,0.23199 1.17929,0.23199c0.52843,0 1.05041,-0.13533 1.52084,-0.39954c0.82486,-0.46399 1.39195,-1.28885 1.54017,-2.22326l3.82787,-24.95204c0.3931,-2.58413 -2.37792,-4.43363 -4.60762,-3.15123z"
        fill="#989898" fill-opacity="1" />
    </g>
  </svg>
</div>
