.messages {
  height: 100%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  box-sizing: border-box;
  overflow: auto;
}

.message_wrap {
  margin-bottom: 30px;
  display: flex;

  &.right {
    justify-content: flex-end;
  }

  &.left .message {
    color: #fff;
    background-color: #389df7;
  }

  &.right .message {
    color: #3c3c3c;
    background-color: #eee;
  }
}

.message {
  position: relative;
  display: inline-block;
  border-radius: 15px;
  padding: 12px 20px;
  margin: 0;
  font-size: 15px;
}

.message__img_wrap {
  position: relative;
}

.message__img {
  max-width: 530px;
  width: 100%;
  max-height: 330px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
}

.message__date {
  position: absolute;
  bottom: -20px;
  right: 0;
  color: #989898;
  font-size: 12px;
  font-weight: 600;
}
