<div class="messages">
  <div class="message_wrap left">
    <p class="message">
      Привет, как дела?
      <span class="message__date">13:10</span>
    </p>
  </div>
  <div class="message_wrap right">
    <p class="message">
      Привет, отлично!
      <span class="message__date">13:10</span>
    </p>

  </div>
  <div class="message_wrap left">
    <div class="message__img_wrap">
      <img src="../../../assets/background.jpg" alt="" class="message__img">
      <span class="message__date">13:10</span>
    </div>
  </div>
</div>
