<app-registration></app-registration>
<div class="main">
  <div class="sidebar">
    <app-profile></app-profile>
    <app-chats style="flex: 1;"></app-chats>
  </div>

  <div class="main__right-side">
    <app-messages-profile></app-messages-profile>
    <app-messages style="flex: 1; overflow: auto;"></app-messages>
    <app-message-field></app-message-field>
  </div>
</div>
