.auth {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.register,
.login {
  max-width: 320px;
}

h2 {
  margin: 0;
}

.error {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #d7a2a8;
}
