<div class="auth" *ngIf="!isAuthed">
  <div class="register" *ngIf="!isLogin">
    <h2>Регистрация</h2>
    <p class="error">{{ error }}</p>
    <input type="email" [(ngModel)]="email" placeholder="Email" (keyup.enter)="register()">
    <input type="text" [(ngModel)]="nick" placeholder="Никнейм" (keyup.enter)="register()">
    <input type="password" [(ngModel)]="password" placeholder="Пароль" (keyup.enter)="register()">
    <button (click)="register()">Зарегистрироваться</button>
    <button (click)="changeType()" class="secondary">Вы уже зарегистрированы?</button>
  </div>
  <div class="login" *ngIf="isLogin">
    <h2>Вход</h2>
    <p class="error">{{ error }}</p>
    <input type="email" [(ngModel)]="email" placeholder="Email" (keyup.enter)="login()">
    <input type="password" [(ngModel)]="password" placeholder="Пароль" (keyup.enter)="login()">
    <button (click)="login()">Войти</button>
    <button (click)="changeType()" class="secondary">Хотите зарегистрироваться?</button>
  </div>
</div>
