<div class="profile">
  <h2 class="nickname">{{ nickname }} <span class="nickname__id">#{{ id }}</span></h2>
  <div class="profile__btn" (click)="logout()">
    <svg width="17" height="13" xmlns="http://www.w3.org/2000/svg" version="1.1"
      xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 22 17">
      <g transform="matrix(1,0,0,1,-387,-42)">
        <path
          d="M395.14153,58.54108v-1.69614c0,-0.27986 -0.22898,-0.50885 -0.50884,-0.50885h-3.56192c-0.75055,0 -1.35692,-0.60637 -1.35692,-1.35693v-8.14152c0,-0.75054 0.60637,-1.35693 1.35692,-1.35693h3.56192c0.27986,0 0.50884,-0.22898 0.50884,-0.50885v-1.69615c0,-0.27987 -0.22898,-0.50884 -0.50884,-0.50884h-3.56192c-2.2474,0 -4.07076,1.82336 -4.07076,4.07077v8.14152c0,2.24741 1.82336,4.07078 4.07076,4.07078h3.56192c0.27986,0 0.50884,-0.22899 0.50884,-0.50886zM408.07468,51.62926l-7.12384,7.12384c-0.63606,0.63606 -1.73856,0.19082 -1.73856,-0.72086v-4.07076h-5.76692c-0.56397,0 -1.01769,-0.45373 -1.01769,-1.01769v-4.07076c0,-0.56397 0.45372,-1.01769 1.01769,-1.01769h5.76692v-4.07076c0,-0.90744 1.09826,-1.35693 1.73856,-0.72086l7.12384,7.12383c0.39436,0.3986 0.39436,1.04314 0,1.44173z"
          fill="#ffffff" fill-opacity="1" />
      </g>
    </svg>
  </div>
</div>
