.profile {
  width: 100%;
  height: 70px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.02);
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  box-sizing: border-box;
}

.nickname {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.nickname__id {
  color: #989898;
  font-size: 15px;
}

.profile__btn {
  background-color: #389DF7;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  border-radius: 10px;
  transition: all .2s;
  cursor: pointer;

  &:hover {
    background-color: #2f85cf;
  }
}
