/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Round');

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;

  font-family: 'Open Sans', sans-serif;
  color: #3E4A59;
}

input {
  height: 45px;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  border: 1px solid #dbe2ea;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  outline: none;
  margin-top: 10px;
  transition: border .2s;

  &:focus {
    border-color: #389DF7;
  }
}

button {
  width: 100%;
  padding: 14px;
  text-align: center;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #389DF7;
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
  transition: all .2s;
  cursor: pointer;

  &:first-of-type {
    margin-top: 20px;
  }

  &:hover {
    background-color: #2f85cf;
  }

  &.secondary {
    color: #3E4A59;
    background-color: #fff;
    border: 1px solid #EBEBEF;

    &:hover {
      background-color: #fff;
      border-color: #ccc;
    }
  }
}
